/* Estilo para la página completa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: burlywood;
}

/*Estilos para el encabezado*/
header {
  background-image: url(imagenes/logo-fondo.png);
  margin-bottom: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}
.imagen-superior {
  position: absolute; /* Posiciona la imagen PNG encima del fondo */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la imagen */
  width: 45vw;
  height: auto;
  z-index: 2; /* Encima del fondo */
}

/*Barra de navegación logo*/
#logo img {
  width: auto;
  height: 50px;
  cursor: pointer;
}
#logo img:hover {
  transform: scale(1.2);
}

/*Barra de navegación*/
.barra-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 20px;
}

.barra-navegacion ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.barra-navegacion ul li a {
  color: #fff;
  font-size: 14.5px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  transition: color 0.3s;
}

.barra-navegacion ul li a:hover {
  color: #f3952a;
}

.menu {
  /*Botón encondido cuando la página es "tamaño escritorio"*/
  display: none;
}

#boton-formulario,
#boton-formulario-user,
.menu {
  padding: 8px 15px;
  background-color: #f3952a;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

#boton-formulario:hover,
#boton-formulario-user:hover,
.menu:hover {
  background-color: #e67e22;
  color: #fff;
}

/*Nav JS*/
.barra-navegacion a {
  text-decoration: none;
}

.barra-navegacion .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease 0s;
  display: none;
}

.barra-navegacion .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barra-navegacion .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: white;
}

.barra-navegacion .overlay a:hover,
.barra-navegacion .overlay a:focus {
  color: #f3952a;
}

.barra-navegacion .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

main h3 {
  font-size: large;
  margin-bottom: 20px;
}

main p {
  font-size: medium;
  margin-bottom: 20px;
}

.provincias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

article {
  width: 80%;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

article:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Disposición y diseño del mapa de provincias */
.mapa-de-mierda {
  width: 90%;
  max-width: 418px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /*Esto es lo del hover*/
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.mapa-de-mierda path {
  stroke: rgb(121, 74, 13); /* Color de las líneas */
  stroke-width: 2.3px; /* Ancho de las líneas */
}
.mapa-de-mierda path:hover {
  filter: brightness(0.5);
}
.mapa-de-mierda path:hover::after {
  display: block; /* Muestra el tooltip al hacer hover */
}
.mapa-de-mierda svg {
  display: block;
  width: 100%;
  height: auto;
}
.tooltip {
  position: absolute; /* Necesario para que siga al ratón */
  display: none; /* Oculto por defecto */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de letra */
  pointer-events: none; /* No bloquea la interacción del ratón */
  white-space: nowrap; /* Evita saltos de línea */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}
hr {
  border: 0;
  height: 2px;
  background-color: #2d2d2d;
  margin: 20px 0;
  margin-bottom: 40px;
}

/* Estilo para todo el footer */

footer {
  background-color: #2d2d2d;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1;
}

.derechos,
.redes,
.contacto {
  flex: 1;
  margin: 10px;
}

.derechos p {
  font-size: 1;
  line-height: 1.5;
}

footer .redes a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

footer .redes a:hover {
  color: blue;
}

footer .contacto {
  width: 100%;
  margin-top: 10px;
}

#input-buscar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

.boton-buscar {
  padding: 10px;
  background-color: #f4f4f4;
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/*Slider de imágenes*/
.titulo-slider {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.parrafo-slider {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.slider-frame {
  height: calc(100vw * 0.3125);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-frame ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: calc(100vw * 10);
  height: 100%;
  animation: slide 50s infinite ease-in-out;
  list-style: none;
}

.slider-frame li {
  flex: 0 0 100vw;
  height: auto;
}

.slider-frame img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  } /* Primera imagen */
  10% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-100vw);
  } /* Segunda imagen */
  30% {
    transform: translateX(-100vw);
  }

  40% {
    transform: translateX(-200vw);
  } /* Tercera imagen */
  50% {
    transform: translateX(-200vw);
  }

  60% {
    transform: translateX(-300vw);
  } /* Cuarta imagen */
  70% {
    transform: translateX(-300vw);
  }

  80% {
    transform: translateX(-400vw);
  } /* Quinta imagen */
  90% {
    transform: translateX(-400vw);
  }

  100% {
    transform: translateX(-500vw);
  } /* Duplicada (Primera imagen) */
  110% {
    transform: translateX(-500vw);
  }

  120% {
    transform: translateX(-600vw);
  } /* Segunda vez, vuelve a la primera imagen */
  130% {
    transform: translateX(-600vw);
  }

  140% {
    transform: translateX(-700vw);
  } /* Y así sucesivamente... */
  150% {
    transform: translateX(-700vw);
  }

  200% {
    transform: translateX(0);
  } /* Reinicio al principio (ciclo continuo) */
}

/*Pagina web responsive (para el menu)*/
@media screen and (max-width: 1030px) {
  .barra-navegacion ul {
    display: none; /* Oculta el menú normal */
  }

  .menu {
    display: block; /* Asegurar que el botón de menú aparezca */
  }
}
@media screen and (max-height: 450px) {
  .barra-navegacion .overlay a {
    font-size: 20px;
  }

  .barra-navegacion .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
