/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: burlywood;
  }

  /* Encabezado */
  .barra-navegacion {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .panel-superior {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .barra-superior {
    display: flex;
    align-items: flex-start;
  }
  .barra-superior h2 {
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
  }
  .barra-superior img{
    width: auto;
    height: 50px;
    cursor: pointer;
  }
  .barra-superior img:hover{
    transform: scale(1.2);
  }
  .panel-superior .info-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .panel-superior .info-user span {
    font-size: 15px;
    margin-right: 5px;
  }
  
  .logout-btn {
    padding: 8px 15px;
    background-color: #f3952a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .logout-btn:hover {
    background-color: #e67e22;
    color: #fff; 
  }
  .contenedor-web {
    display: flex;

  }
  /* Barra lateral */
  .barra-lateral {
    width: 200px;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .barra-lateral nav ul {
    list-style: none;
    padding: 0;
  }
  
  .barra-lateral nav ul li {
    margin: 15px 0;
  }
  
  .barra-lateral nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }
  
  .barra-lateral nav ul li a:hover {
    color: #f3952a;
  }
  
  .barra-lateral nav ul li a.active {
    color: #f3952a; /*Mantiene el color del hover cuando está pulsado*/
  }
  
  /* Contenido principal */
  .contenedor-principal {
    flex: 1;
    padding: 25px;
    background-color: white;
    margin-left: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .seccion-perfil {
    margin-bottom: 30px;
  }
  
  .seccion-perfil h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .seccion-perfil p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .acciones-rapidas {
    display: flex;
    gap: 20px;
  }
  
  .btn-accion {
    padding: 8px 15px;
    background-color: #f3952a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-accion:hover {
    background-color: #e67e22;
    color: #fff; 
  }
  