/* Estilo para la página completa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: burlywood;
  }
  
  header {
    background-image: url(../Quijote/imagenesQuijote/logo-fondo.webp);
    margin-bottom: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
  }
  .imagen-superior {
    position: absolute; /* Posiciona la imagen PNG encima del fondo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la imagen */
    width: 45vw;
    height: auto;
    z-index: 2; /* Encima del fondo */
  }

   /*Barra de navegación logo*/
#logo img{
  width: auto;
  height: 50px;
  cursor: pointer;
}
#logo img:hover{
  transform: scale(1.2);
}

.barra-navegacion {
  display: flex;
justify-content: space-between; 
align-items: center; 
position: absolute;
top: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
padding: 0 20px;
}

.barra-navegacion ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.barra-navegacion ul li a {
  color: #fff;
  font-size: 14.5px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  transition: color 0.3s;
}

.barra-navegacion ul li a:hover {
  color: #f3952a;
}

.menu{ /*Botón encondido cuando la página es "tamaño escritorio"*/
  display: none;
}

#boton-formulario,
.menu {
  padding: 8px 15px; 
  background-color: #f3952a; 
  color: #fff;
  border-radius: 5px;
  font-weight: bold; 
  transition: background-color 0.3s;
  cursor: pointer;
}

#boton-formulario:hover,
.menu:hover {
  background-color: #e67e22;
  color: #fff; 
}

/*Nav JS*/
.barra-navegacion a {
  text-decoration: none;
}

.barra-navegacion .overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease 0s;
  display: none; 
}

.barra-navegacion .overlay .overlay-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barra-navegacion .overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: white;
}

.barra-navegacion .overlay a:hover,
.barra-navegacion .overlay a:focus {
  color: #f3952a;
}

.barra-navegacion .overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

  /* Fuente Great Vibes */

  .great-vibes-regular {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* Estilo para el container de las secciones */
  
  main {
    display: grid;
    padding: 20px;
    max-width: 1200px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  main h1 {
    display: flex;
    text-align: center;
    color: #2d2d2d;
    font-family: "Great Vibes", serif;
    font-weight: lighter;
    font-size: 70px;
  }

  /* Introducción */

  #intro {
    display: flex;
    flex-direction:column(2);
    padding: 5px;
    color: #2d2d2d;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #intro-imagen {
    width: 50%;
  }

  #intro img {
    width: 350px;
    height: 80%;
    border-radius: 100%;
  }

  #intro-texto {
    width: 50%;
  }

  /* Autor */

  .autor {
    display: flex;
    flex-direction:column(2);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #2d2d2d;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  #autor-texto {
    width: 40%;
  }

  #autor-imagen {
    width: 30%;
    text-align: center;
  }

  #autor-imagen img {
    width: 200px;
    height: 50%;
    border-radius: 50%;
  }

  /* La ruta del Quijote */

  #ruta-h1 {
    margin: auto;
  }

  .ruta {
    display: flex;
    flex-direction:column(3);
    padding: 5px;
    color: #2d2d2d;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .ruta-imagen {
    width: 30%;
  }

  .ruta img {
    width: 200px;
    height: 60%;
    border-radius: 5px;
  }

  .ruta-texto {
    width: 40%;
  }

  #p-ruta {
    margin-top: 20px;
    text-align: center;
    color: #2d2d2d;
  }

  /* Etapas de la ruta */

  .etapas {
    display: flex;
    flex-direction:column(2);
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #2d2d2d;
    padding: 5px;
    margin-top: 30px;
    color: #f4f4f4;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
  }

  #etapas-mapa {
    width: 50%;
    display: flex;
  }

  #etapas-mapa iframe {
    border-radius: 5px;
  }

  #etapas-texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
    width: 50%;
  }

  #etapas-texto h3 {
    font-size: x-large;
  }

  #etapas-texto img {
    width: 250px;
    height: 100px;
    margin: auto;
  }

  /* Estilo de todo el footer */

  footer {
    background-color: #2d2d2d;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
  }
  
  footer h3 {
    margin-bottom: 15px;
    font-size: 1;
  }
  
  .derechos,
  .redes,
  .contacto {
    flex: 1;
    margin: 10px;
  }
  
  .derechos p {
    font-size: 1;
    line-height: 1.5;
  }
  
  footer .redes a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  footer .redes a:hover {
    color: blue;
  }
  
  footer .contacto {
    width: 100%;
    margin-top: 10px;
  }
  
  #input-buscar {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }
  
  .boton-buscar {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
    color: #2d2d2d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

    /*Pagina web responsive (para el menu)*/
@media screen and (max-width: 860px) {
  .barra-navegacion ul {
      display: none; /* Oculta el menú normal */
  }

  .menu {
      display: block; /* Asegurar que el botón de menú aparezca */
  }
}
@media screen and (max-width: 450px){
  .barra-navegacion .overlay a{
    font-size: 20px;
  }

  .barra-navegacion .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 