/* Estilo para la página completa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: burlywood;
  }
  
  header {
    background-image: url(imagenes/logo-fondo.jpg);
    margin-bottom: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
  }
  .imagen-superior {
    position: absolute; /* Posiciona la imagen PNG encima del fondo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la imagen */
    width: 45vw;
    height: auto;
    z-index: 2; /* Encima del fondo */
  }

  /* Estilo de la barra de navegación */

  .barra-navegacion {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparencia moderna */
    padding: 10px 0;
    text-align: center;
    z-index: 999;
  }
  
  .barra-navegacion ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  
  .barra-navegacion ul li a {
    color: #fff;
    font-size: 14.5px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .barra-navegacion ul li a:hover {
    color: #f3952a;
  }

  /* Estilo para el container de las secciones */

  main {
    display: grid;
    padding: 20px;
    max-width: 1200px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  #intro h3 {
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
    color: #2d2d2d;
  }
  
  #intro p {
    font-size: medium;
    margin-bottom: 20px;
    text-align: justify;
    color: #2d2d2d;
  }

  /* Secciones */

  /* Villas históricas */

  .villas-historicas {
    display: flex;
    flex-direction:column(2);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }

  #villas-texto {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  #villas-texto h2 {
    font-size:x-large;
    color: #2d2d2d;
  }

  #villas-texto p {
    color:#2d2d2d;
  }

  #villas-texto figure img {
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
    max-height: 250px;
    border-radius: 3px;
  }

  #villas-imagenes {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(3);
    gap: 5px;
  }

  #villas-imagenes img {
    display: flex;
    width: 200px;
    height: 80%;
    border-radius: 3px;
  }

  #villas-imagenes img,
  #villas-imagenes h3,
  #villas-imagenes p {
    padding: 5px;
  }

  /* Cultura */

  .cultura {
    display: flex;
    flex-direction:column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    gap: 10px;
  }

  .cultura img {
    width: 450px;
    height: 200px;
    margin: auto;
  }

  .cultura h2 {
    font-size:x-large;
    color: #2d2d2d;
  }

  .cultura h3 {
    color:#2d2d2d;
  }

  #cultura-lista {
    text-align: start;
  }

  #cultura-lista li {
    margin-left: 25px;
  }

  /* Castillos */

  .castillos {
    display: flex;
    flex-direction:column(2);
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #2d2d2d;
    padding: 5px;
    margin-top: 30px;
    color: #f4f4f4;
  }

  #castillos-imagenes {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #castillos-imagenes img {
    max-width: 500px;
    max-height: 300px;
    border-radius: 3px;
  }

  #castillos-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #castillos-texto h2 {
    font-size:x-large;
    color: #f4f4f4;
  }

  /* Gastronomía */

  .gastronomia {
    display: flex;
    flex-direction:column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    color: #2d2d2d;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .gastronomia h2 {
    font-size:x-large;
  }

  .gastronomia p {
    font-size: large;
  }

  .gastronomia hr {
    background-color: #2d2d2d;
    height: 2.5px;
    width: 50%;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 8px;

  }

  #gastronomia-imagenes {
    display: flex;
    flex-direction: column(2);
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #gastronomia-imagenes img {
    max-width: 50%;
    max-height: 400px;
  }

  #platosP {
    margin-top: 3px;
    font-size: medium;
  }

  #gastronomia-figure {
    display: flex;
    flex-direction: column(3);
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 15px;
  }

  #gastronomia-figure img {
    width: 150px;
    height: 100px;
    border: 3px solid #2d2d2d;
    border-radius: 50%;
  }

  /* Naturaleza */

  .naturaleza {
    display: flex;
    flex-direction:column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    color: #2d2d2d;
    text-align:start;
    padding: 5px;
  }

  .naturaleza h2 {
    font-size:x-large;
  }

  .naturaleza p {
    font-size: large;
  }

  #naturaleza-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }

  #naturaleza-imagenes img {
    width: 80%;
    height: 180px;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
  }

  /* Cine */

  .cine {
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #2d2d2d;
    padding: 5px;
    margin-top: 30px;
    color: #f4f4f4;
    padding: 10px;
  }

  .cine h2 {
    font-size:x-large;
  }

  .cine p {
    font-size: large;
  }

  .cine iframe {
    display: flex;
    max-width: 560px;
    max-height: 315px;
    border: 2px solid white;
    border-radius: 3px;
    margin: auto;
    margin-top: 10px;
  }

  /* Extra */

  .extra {
    display: flex;
    flex-direction: column(2);
    justify-content: space-between;
    margin-top: 60px;
    gap: 30px;
    padding: 5px;
  }

  #pueblos-negros {
    background-color: black;
    color: #f4f4f4;
    text-align: center;
    border-radius: 70%;
    margin: auto;
    width: 180px;
    height: 100%;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #pueblos-negros a {
    cursor: pointer;
    color: #f4f4f4;
    text-decoration: none;
  }

  #pueblos-negros a:hover {
    text-decoration: underline;
  }

  #quijote {
    margin: auto;
  }

  #quijote-img {
    border: 1px solid black;
    border-radius: 70%;
    width: 180px;
    height: 100%;
    margin: auto;
  }

  /* Estilo de todo el footer */

  footer {
    background-color: #2d2d2d;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
  }
  
  footer h3 {
    margin-bottom: 15px;
    font-size: 1;
  }
  
  .derechos,
  .redes,
  .contacto {
    flex: 1;
    margin: 10px;
  }
  
  .derechos p {
    font-size: 1;
    line-height: 1.5;
  }
  
  footer .redes a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  footer .redes a:hover {
    color: blue;
  }
  
  footer .contacto {
    width: 100%;
    margin-top: 10px;
  }
  
  #input-buscar {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }
  
  .boton-buscar {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
    color: #2d2d2d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }