/* Estilo para la página completa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: burlywood;
}

/*Estilos para el encabezado*/
header {
  background-image: url(imagenes/fondo.png);
  margin-bottom: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: auto;
}

.imagen-superior {
  position: absolute; /* Posiciona la imagen PNG encima del fondo */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la imagen */
  width: 45vw;
  height: auto;
  z-index: 2; /* Encima del fondo */
}

/*Barra de navegación logo*/
#logo img{
  width: auto;
  height: 50px;
  cursor: pointer;
}
#logo img:hover{
  transform: scale(1.2);
}

/*Barra de Navegación*/
.barra-navegacion {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 20px;
}

.barra-navegacion ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.barra-navegacion ul li a {
  color: #fff;
  font-size: 14.5px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  transition: color 0.3s;
}

.barra-navegacion ul li a:hover {
  color: #f3952a;
}

.menu{ /*Botón encondido cuando la página es "tamaño escritorio"*/
  display: none;
}

#boton-formulario,
#boton-formulario-user,
.menu {
  padding: 8px 15px; 
  background-color: #f3952a; 
  color: #fff;
  border-radius: 5px;
  font-weight: bold; 
  transition: background-color 0.3s;
  cursor: pointer;
}

#boton-formulario:hover,
#boton-formulario-user:hover,
.menu:hover {
  background-color: #e67e22;
  color: #fff; 
}

/*Nav JS*/
.barra-navegacion a {
  text-decoration: none;
}

.barra-navegacion .overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease 0s;
  display: none; 
}

.barra-navegacion .overlay .overlay-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barra-navegacion .overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: white;
}

.barra-navegacion .overlay a:hover,
.barra-navegacion .overlay a:focus {
  color: #f3952a;
}

.barra-navegacion .overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*Estilos cuerpo de web*/
main {
  padding: 20px;
  max-width: 1200px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

main h3 {
  font-size: large;
  margin-bottom: 20px;
  text-align: center;
}

main p {
  font-size: medium;
  margin-bottom: 20px;
  text-align: justify;
}

/*Estilos del calendario*/
#calendario {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}
#mes-actual {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#navegacion-meses {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#navegacion-meses button {
  padding: 5px 10px;
  background-color: #2d2d2d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#navegacion-meses button:hover {
  background-color: #444;
}
#contenido-calendario {
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /* 7 columnas para los días de la semana */
  gap: 5px;
}

.highlight {
  color: white; /* Asegura que el texto sea visible sobre el fondo */
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}

.empty {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#contenido-calendario div {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}

/*Directorio de colores*/
.lista {
  padding: 20px;
  display: flex;
  flex: auto;
  justify-content: space-between;
}
#albacete-square::marker {
  color: #8ec63f;
}
#ciudadreal-square::marker {
  color: darksalmon;
}
#cuenca-square::marker {
  color: rgb(196, 74, 74);
}
#guadalajara-square::marker {
  color: steelblue;
}
#toledo-square::marker {
  color: darkorchid;
}
#clm-square::marker {
  color: darkorange;
}

/*Alert*/
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Alerta personalizada */
.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  display: none;
  text-align: end;
}
/* Texto Alert */
#alertMessage{
  text-align: left;
}
/*----*/
/*-------------Botón de cerrar--------------*/
.custom-alert button {
  background: #f3952a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: bold;
}
.custom-alert button:hover {
  background: #e67e22;
}

#btn-mostrar-alert {
  display: none;
}
/*-------------------------------------------*/

/* Estilo para todo el footer */

footer {
  background-color: #2d2d2d;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1;
}

.derechos,
.redes,
.contacto {
  flex: 1;
  margin: 10px;
}

.derechos p {
  font-size: 1;
  line-height: 1.5;
}

footer .redes a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

footer .redes a:hover {
  color: blue;
}

footer .contacto {
  width: 100%;
  margin-top: 10px;
}

#buscador {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

#boton-buscar {
  padding: 10px;
  background-color: #f4f4f4;
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/*Pagina web responsive (para el menu)*/
@media screen and (max-width: 1030px) {
  .barra-navegacion ul {
      display: none; /* Oculta el menú normal */
  }

  .menu {
      display: block; /* Asegurar que el botón de menú aparezca */
  }
}
@media screen and (max-height:450px){
  .barra-navegacion .overlay a{
    font-size: 20px;
  }

  .barra-navegacion .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}